<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">
	<img src="produtos.jpg" height="200">
</a>
<ul>
    <li>
        <a href="/cadastra">Cadastra Produtos</a>
    </li>
    <li>
        <a href="/buscar">Busca Produtos por Marca</a>
    </li>
	<li>
        <a href="/deleta">Deletar Produtos por Nome</a>
    </li>
</ul>


<h2> <%=mensagem%> </h2>

</body>
</html>
