<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Loja de Informática - Estoque</h1>

<a href="/">
	<img src="produtos.jpeg" height="200">
</a>
<ul>
    <li>
        <a href="/cadastra">Cadastra Produtos</a>
    </li>
    <li>
        <a href="/buscar">Busca Produtos por Marca</a>
    </li>
     <li>
        <a href="/deleta">Deletar Produtos por Nome</a>
    </li>
</ul>

<form action="/mongo" method="get">
    <input type="submit" value="Mongo"/><br>
</form>
<button href="/sql">SQL</button>

<form action="/sql" method="get">
    <input type="submit" value="SQL"/><br>
</form>

</body>
</html>
