<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <h1 class="text-center title-1"> Producao</h1>
 <ul>
 <% prodlist.forEach(function(prod){ %>
 <li><%= prod.data %> : <%=prod.bolsa_de_couro_velcro%></li>
 <%})%>
 </ul>
</body>
</html>
