<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/mongo" method="post">
    <button href="/">voltar</button><br>

</form>
</body>
</html>