<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <h1 class="text-center title-1"> Funcionarios </h1>
 <ul>
 <% userlist.forEach(function(user){ %>
 <li><%= user.id %> : <%=user.nome%> : <%=user.data_de_contratacao%></li>
 <%})%>
 </ul>
</body>
</html>
